<nav class="home-nav">
  <%= link_to "zendesk", root_path, class: "home-nav-icon" %>
</nav>
<div class="container">
  <div class="content">
    <h4 class="error-heading">You might not have the right authentications details or the Api might be down</h4>
    <br>
    <p class="sub-heading">
      Check for any typos, including the Api URL
    </p>
    <%= link_to "Back to Tickets", paginate_path(1), class: "call-to-action-button" %>
  </div>
  <div class="image">
    <%= image_tag("error.svg", class: "image-sizing") %>
  </div>
</div>