// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tickets-container {
  min-height: 100vh;
}

.ticket-container {
  height: 100vh;
}

.green {
  background-color: #c8de72;
}

.pink {
  background-color: #f8a4b3;
}

.orange {
  background-color: #f7bf7f;
}

.blue {
  background-color: #b6e1f3;
}

.blood-orange {
  background-color: #f8b8af;
}

.tickets-nav-icon {
  text-decoration: none;
  color: #03363d;
  margin-top: 30px;
}

.zendesk-icon-sizing {
  height: 20px;
  width: 20px;
}